{% extends "@ERPDocument/admin.html.twig" %}

{% block metaTitle %}
    Documents
{% endblock %}

{% block title %}
    Documents
{% endblock %}

{% block titleSmall %}
    {{ app.session.get('activeSheet').name|default('A DEFINIR') }}
{% endblock %}

{% block titleAction %}
    {% if app.session.get('activeSheet') is not null %}
        <a href="{{ path('admin_erp_document_document_add', {id: app.session.get('activeSheet').id}) }}"
           class="btn btn-primary"
           data-toggle="modal"
           data-dismiss="modal"
           data-target="#modal">
            <i class="fa fa-plus-circle"></i> Nouveau
        </a>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="col-md-12 no-padding">
        {% if app.session.get('activeSheet') is not null %}
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>N° doc.</th>
                            <th>Référence</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>TOTAL</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>
                                    <a href="#">{{ document.number }}</a>
                                </td>
                                <td>{{ document.reference }}</td>
                                <td>
                                {% if document.user is not null %}
                                <a href="#" data-toggle="modal" data-target="#modal" data-dismiss="modal">{{ document.user.code }}</a>
                                {% else %}
                                N/C
                                {% endif %}
                                </td>
                                <td>{{ document.createdAt|date("d-m-Y") }}</td>
                                <td>TOTAL €</td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('admin_erp_document_document_update', {id: document.id}) }}" class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#modal"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('admin_erp_document_document_delete', {id: document.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="align-center">
                <div class="callout callout-danger">
                    <h4>Journal non-défini</h4>

                    <p>Veuillez choisir un journal de travail dans la barre de navigation<br>(en haut à droite)</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}