{% extends "@ERPDocument/admin.html.twig" %}

{% block metaTitle %}
    Documents
{% endblock %}

{% block title %}
    Documents
{% endblock %}

{% block titleSmall %}
    {{ app.session.get('activeSheet').name }}
{% endblock %}

{% block titleAction %}
    <a href="{{ path('admin_erp_document_sheet_switch') }}" class="btn btn-default"
       data-toggle="modal"
       data-dismiss="modal"
       data-target="#modal">
        <i class="fa fa-newspaper-o"></i> Journal
    </a>
    {% include '@Core/Button/add.html.twig' %}
{% endblock %}

{% block body %}



    <div class="col-md-12 no-padding">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>N° doc.</th>
                            <th>Référence</th>
                            <th>Client</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>{{ document.number }}</td>
                                <td>{{ document.reference }}</td>
                                <td></td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('admin_erp_document_document_update', {id: document.id}) }}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('admin_erp_document_document_delete', {id: document.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}