<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('dywee_admin_homepage') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>{% block appShortName %}{% endblock %}</b>{% block appName %}ERP{% endblock %}</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>ERP</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                {{ render(controller('CoreBundle:Admin:dropdownSheet')) }}

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('bundles/dyweecore/images/avatar5.png') }}" class="user-image" alt="User Image"/>
                        <span class="hidden-xs">{{ app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset('bundles/dyweecore/images/avatar5.png') }}" class="img-circle" alt="User Image" />
                            <p>
                                {{ app.user.username }} - Website Administrateur
                                {#<small>Membre depuis Nov. 2012</small>#}
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-6 text-center">
                                <p><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-cogs"></i> Mon profil</a></p>
                            </div>
                            {#<div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>#}
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>